<div>
    <div>
        <h1>Log in</h1>
        <form id="form-logIn">
            <label>Email</label>
            <input name="email" type="email" required>
            <label>Password</label>
            <input name="password" type="password">
            <button type="submit" class="btn btn-primary">Log in</button>
            {{!-- <p id="error-login">Usuario invalido</p> --}}
        </form>
    </div>
    <div class="register">
        <span>No eres usuario?&nbsp</span>
        <a href="http://localhost:8080/register">Registrarse</a>
    </div>  
</div>


<script src="/js/login.js"></script>