<div class="registerFail-container">
    <h1>Error al registrarse</h1>
    <p style="color:red">{{ errorMessage }}</p>
    <a href="http://localhost:8080/register"><button class="btn btn-primary">Volver</button></a>
</div>