{{!-- RANDOM PRODUCTS --}}
<div class="products-container">
    <h2>Lista de Productos</h2>
    <hr>
    <div class="list-container" id="list-container">
        {{#if hasProducts}}
            <div id="table-container" class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody id="list-products">
                        {{#each products}}
                            <tr>
                                <td class="text-start">{{this.title}}</td>
                                <td>${{this.price}}</td>
                                <td><img src="{{this.image}}" class="img-fluid img-product" alt="imagen"></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <p>No hay productos disponibles</p>
        {{/if}}
    </div>
</div>