<div class="register-container">
    <div>
        <h1>Registrarse</h1>
        <form id="register-form" class="register-form">
            <label>Nombre</label>
            <input type="text" name="first_name">
            <label>Apellido</label>
            <input type="text" name="last_name">
            <label>Edad</label>
            <input type="number" name="age">
            <label>Dirección</label>
            <input type="text" name="adress">
            <label>Teléfono</label>
            <input type="number" name="phone">
            <label>Email</label>
            <input type="email" name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <label>Avatar</label>
            <input type="file" name="avatar">
            <input type="submit" value="Registrarse" class="btn btn-primary">
        </form>
    </div>

    <div class="login">
        <span>Ya eres usuario?&nbsp</span>
        <a href="./login">Inicia sesión</a>
    </div>  
</div>

<script src="js/register.js"></script>