<div>
    <h1>Registrate</h1>

    <form id="registerForm">
        <label>Nombre</label>
        <input name="name" type="text">
        <label>Email</label>
        <input name="email" type="email" required>
        <label>Password</label>
        <input name="password" type="password">
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<script src="js/register.js"></script>