<div class="login-container">
    <div>
        <h1>Iniciar sesión</h1>
        <form id="login-form" class="login-form">
            <label>Email</label>
            <input type="email" name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit" value="Iniciar sesión" class="btn btn-primary">
        </form>
    </div>

    <div class="register">
        <span>No eres usuario?&nbsp</span>
        <a href="./register">Registrate</a>
    </div>  
</div>

<script src="js/login.js"></script>